openapi: 3.2.0
info:
  title: TrustLayer Platform API V2 (Early Access) Workspaces API
  description: The following documentation sets out to provide everything you need to build your solutions using the TrustLayer API.
  termsOfService: https://trustlayer.io/terms-of-use/
  version: 2.0.0-beta
  contact:
    name: TrustLayer API Services
    email: api@trustlayer.io
  license:
    name: Apache 2.0
    url: https://apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.trustlayer.io/v2
  description: Production Server
- url: https://api.integration.trustlayer.dev/v2
  description: Integration Server
- url: https://api.demo.trustlayer.dev/v2
  description: Demo Server
security:
- Bearer Auth: []
tags:
- name: Workspaces
  description: ''
paths:
  /workspace:
    get:
      tags:
      - Workspaces
      description: Get the current workspace for the access token, including its API version
      responses:
        '200':
          description: Current workspace for the access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    description: Unique identifier of the workspace.
                    allOf:
                    - $ref: '#/components/schemas/objectId'
                  name:
                    type: string
                    description: Human-readable name of the workspace.
                  slugifyName:
                    type: string
                    description: URL-safe slug derived from the workspace name.
                  description:
                    default: ''
                    description: Free-text description of the workspace, if set by the customer.
                    type:
                    - string
                    - 'null'
                  apiVersion:
                    anyOf:
                    - type: number
                      enum:
                      - 1
                    - type: number
                      enum:
                      - 2
                    description: 'Public API version the workspace operates under: `1` (legacy experience) or `2` (new experience). Use this to route subsequent calls to the matching API surface.'
                required:
                - name
                - slugifyName
                - description
                - apiVersion
                additionalProperties: false
                description: Current workspace for the access token
        '400':
          description: The request could not be understood — invalid body payload, unknown querystring filter, or a schema validation failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 400
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The request could not be understood — invalid body payload, unknown querystring filter, or a schema validation failure.
        '401':
          description: Authentication failed — the bearer token is missing, malformed, expired, or does not grant access to this resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: Authentication failed — the bearer token is missing, malformed, expired, or does not grant access to this resource.
        '403':
          description: The authenticated caller does not have permission to perform this action on the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 403
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The authenticated caller does not have permission to perform this action on the target resource.
        '404':
          description: The requested resource does not exist or is not visible to the authenticated caller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The requested resource does not exist or is not visible to the authenticated caller.
        '500':
          description: The server encountered an unexpected failure while processing the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 500
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The server encountered an unexpected failure while processing the request.
      summary: Get workspace
      x-summary-source: derived
      operationId: getWorkspace
      x-operation-id-source: derived
components:
  schemas:
    objectId:
      title: ObjectId
      type: string
      format: ObjectId
      examples:
      - 507f1f77bcf86cd799439011
  securitySchemes:
    Bearer_Auth:
      type: http
      scheme: bearer
      description: 'Enter your API token:'
