openapi: 3.2.0
info:
  title: TrustLayer Platform API V2 (Early Access) Auth API
  description: The following documentation sets out to provide everything you need to build your solutions using the TrustLayer API.
  termsOfService: https://trustlayer.io/terms-of-use/
  version: 2.0.0-beta
  contact:
    name: TrustLayer API Services
    email: api@trustlayer.io
  license:
    name: Apache 2.0
    url: https://apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.trustlayer.io/v2
  description: Production Server
- url: https://api.integration.trustlayer.dev/v2
  description: Integration Server
- url: https://api.demo.trustlayer.dev/v2
  description: Demo Server
security:
- Bearer Auth: []
tags:
- name: Auth
  description: ''
paths:
  /auth/sessions:
    post:
      tags:
      - Auth
      description: Create a 24-hour authorization session token for the workspace-management endpoints. The returned token grants `workspaces` write access for the authenticated user and is required as a Bearer credential on the `/v2/workspaces` routes. Returns 404 if no user matches the email and 401 if the password is invalid or the user is not a workspaces admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: Email address of the user creating the session.
                  type: string
                password:
                  type: string
                  description: Password of the user creating the session.
              required:
              - email
              - password
              description: Credentials for creating an authorization session. The user must be flagged as a workspaces admin.
        description: Credentials for creating an authorization session. The user must be flagged as a workspaces admin.
      responses:
        '201':
          description: Newly issued 24-hour authorization session token granting workspaces write access.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: 'Bearer authorization token. Send as `Authorization: Bearer <token>` on subsequent calls. Expires in 24 hours.'
                required:
                - token
                additionalProperties: false
                description: Newly issued 24-hour authorization session token granting workspaces write access.
        '400':
          description: The request could not be understood — invalid body payload, unknown querystring filter, or a schema validation failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 400
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The request could not be understood — invalid body payload, unknown querystring filter, or a schema validation failure.
        '401':
          description: Authentication failed — the bearer token is missing, malformed, expired, or does not grant access to this resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: Authentication failed — the bearer token is missing, malformed, expired, or does not grant access to this resource.
        '403':
          description: The authenticated caller does not have permission to perform this action on the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 403
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The authenticated caller does not have permission to perform this action on the target resource.
        '404':
          description: The requested resource does not exist or is not visible to the authenticated caller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The requested resource does not exist or is not visible to the authenticated caller.
        '500':
          description: The server encountered an unexpected failure while processing the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 500
                  applicationCode:
                    type: string
                    description: Machine-readable error code. For application errors this is the ApplicationError.applicationCode (e.g. "FLOW.006"); for schema validation failures it is "FLOW.002" (InvalidData); for unexpected server failures it is "LIB.000".
                  message:
                    type: string
                    description: Human-readable error message.
                  details:
                    description: Optional additional context about the error.
                required:
                - statusCode
                - applicationCode
                - message
                additionalProperties: false
                description: The server encountered an unexpected failure while processing the request.
      summary: Create auth sessions
      x-summary-source: derived
      operationId: postAuthSessions
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer_Auth:
      type: http
      scheme: bearer
      description: 'Enter your API token:'
